@import '../../../../assets/styles/mixins.scss';
@import '../../../../assets/styles/media_mixins.scss';

.header {
  display: flex;
  align-items: center;

  padding: 20px 0;
  max-width: var(--width-container);
  margin: 0 auto;

  border-top: 2px solid var(--color-main);
  border-bottom: 2px solid var(--color-main);

  &_wrapper {
    background-color: var(--color-second);
    padding-top: 100px;
    padding-bottom: 50px;

    @include containers-paddings;

    @include _600 {
      padding-top: 30px;
      padding-bottom: 30px;
    }
  }

  @include _600 {
    flex-direction: column;
    gap: 20px;
    justify-content: center;
  }
}

.link {
  font-size: var(--font-size-p2);
  line-height: var(--font-line-p2);
  color: var(--color-main);
  font-weight: 700;

  margin-right: 20px;

  transition: all .2s ease-in-out;

  @include none-select;

  @include _1100 {
    margin-right: 18px;
  }

  @include _600 {
    margin-right: 0;
  }



  &:first-child {
    margin-right: auto;

    @include _600 {
      margin-right: 0;
    }
  }

  &:last-child {
    margin-right: 0px;
  }

  &:hover {
    opacity: 0.7;
    transform: scale(0.95);
  }
}