:root {
  --font-family: "DM Sans", "DM Sans Placeholder", sans-serif;

  --font-size-p2: 16px;

  --font-line-p2: 1.2em;


  --color-main: #FF69EB;
  --color-second: #191919;
  --color-black: #000000;
  --color-white: #ffffff;

  --width-container: 1080px;
}
